<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title> Cursos </title>
    <link rel="stylesheet" href="site.css"/>
    <link rel ="stylesheet" href="detalhescursos.css">
    <link rel="shortcut icon" href="IconeCTAZ.ico" type="image/x-icon" />

</head>
    <header>
        <img class="logo" src="LogoCTAZ.png"/>
        <span><a href="index.html"><p class="p1">Colégio Técnico AZ</p></a></span>
        <div class="estiloHeader">
        <span><p class="p2"><a href="listaCurso.html">Cursos</a></p></span>
    </header>
<body>
    <h1> Curso Técnico Mecatrônica </h1></br>
    <h2>Sobre o Curso</h2></br>

    Com a evolução das novas tecnologias, a indústria está cada vez mais exigente</br>
    <br>ao contratar profissionais qualificados. Para isso, o curso técnico de</br> 
    <br>Mecatrônica da Faculdade Impacta oferece a você uma formação profissional</br> 
    <br>híbrida, envolvendo eletrotécnica, eletrônica, mecânica e informática, integrando</br> 
    <br>ainda tecnologias de engenharia de produto, planejamento,</br> 
    <br>produção, processo, suporte e vendas. Isso possibilita novas formas de gestão e de</br> 
    <br>produção com o objetivo de reduzir custos, melhorar a qualidade, aumentar a satisfação</br> 
    <br>do cliente e garantir posição num mercado extremamente competitivo e globalizado.</br>

    </br>
    </br>
    </br>
    <h3>Período:</h3>
    <br>Matutino | 08h00 às 11h40 |</br> 
    <br>Noturno | 19h00 às 22h40 |</br> 
 
    <h3>Duração:</h3>
    4 Semestres</br>
 
    <h3>Modalidade:</h3> 
    Presencial</br> 

    </br>
    </br>
    <div class="matriz">
        <a href="matrizCurricular_Mecatronica.html">Matriz curricular</a>
    </div>

</body>
<footer>
    <p class="footer">Desenvolvido por Adriano, Bruno, Felipe e Letícia</p>
</footer>
</html>