<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-with, height=device-height, initial-scale=1, user-scalable=no">
    <title>HomePage</title>
    <link rel="stylesheet" href="site.css"/>
    <link rel="stylesheet" href="index.css"/>
    <link rel="shortcut icon" href="IconeCTAZ.ico" type="image/x-icon" />
</head>
    <header>
        <img class="logo" src="LogoCTAZ.png"/>
        <span><p class="p1">Colégio Técnico AZ</p></span>
        <div class="estiloHeader">
        <span><p class="p2"><a href="listaCurso.html">Cursos</a></p></span>
        <span><p class="p2"><a href="noticias.html">Notícias</a></p></span> 
        </div>
    </header>
<body>
        <p class="p3">Colégio AZ</p>
        <p class="p4">Aqui você encontra a oportunidade da sua vida</p>
        <img class="estudantehome" src="estudanteHome.jpg"/>
</body>
    <footer>
        <p class="footer">Desenvolvido por Adriano, Bruno, Felipe e Letícia</p>
    </footer>
</html>