<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cursos </title>
    <link rel="stylesheet" href="site.css"/>
    <link rel="stylesheet" href="listaCurso.css"/>
    <link rel="shortcut icon" href="IconeCTAZ.ico" type="image/x-icon" />

</head>
    <header>
        <img class="logo" src="LogoCTAZ.png"/>
        <span><a href="index.html"><p class="p1"> Colégio Técnico AZ</p></a></span>
    </header>
<body>
    <h1> Cursos Técnicos </h1>
    </br>
    
    <div class="estiloBotao">
        <a href="detalhesMecatronica.html"> Mecatrônica</a>
    </div>
    </br>
    </br>
    <p><img src="mecatronica.jpg" width='1000px'/></p>
    </br>

    <div class="estiloBotao">
        <a href="detalhesTelecomunicacoes.html">Telecomunicações</a></br>
    </div>
    </br>
    <p><img src="telecomunicacoes.jpg" width='1000px'/></p>
    </br>
    </br>

    <div class="estiloBotao">
        <a href="detalhesEletronica.html">Eletrônica</a>
    </div>
    </br>
    </br>
    <p><img src="eletronica.jpg" width='1000px'/></p>
    </br>


    <div class="estiloBotao">
        <a href="detalhesinformáticaindustrial.html">Informática Industrial</a>
    </div>
    </br>
    </br>
    <p><img src="informaticaindustrial.jpg" width='1000px'/></p>

</body>
<footer>
    <p class="footer">Desenvolvido por Adriano, Bruno, Felipe e Letícia</p>
</footer>
</html>