.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #2E8B57;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


h3 {
  font-family: "Calibri";
  font-size: 20px;
  color: black;

}


li {
  font-family: "Calibri";
  font-size: 15px;
  color: black;

}