<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Notícias</title>
    <link rel="stylesheet" href="site.css"/>
    <link rel="stylesheet" href="noticias.css"/>
    <link rel="shortcut icon" href="IconeCTAZ.ico" type="image/x-icon" />
</head>
    <header>
        <img class="logo" src="LogoCTAZ.png"/>
        <span><a href="index.html"><p class="p1">Colégio Técnico AZ</p></a></span>
    </header>
<body>
    <h1>Notícias</h1>
    <!-- código 'target="_blank"' abre o link em outra pagina-->
    <div class="noticias">
        <p><a href="https://www.guiadacarreira.com.br/cursos/curso-tecnico/curso-tecnico/" target="_blank">O que é o curso técnico e por que ele é interessante</a></p>
        <p><a href="https://www.hojeemdia.com.br/primeiro-plano/ambev-danone-e-mercedes-confira-as-vagas-de-estágio-em-aberto-nas-grandes-empresas-1.743651" target="_blank"> Grandes empresas abrem vagas para curso técnico</a></p>
        <p><a href="https://www.mundovestibular.com.br/cursos/cursos-tecnicos-mais-valorizados"> Os cursos técncos mais valorizados </a></p>
    </div>
 <footer>
    <p class="footer">Desenvolvido por Adriano, Bruno, Felipe e Letícia</p>
</footer>
</body>
</html>